---
interface Props {
  name: string;
  label: string;
  required: boolean | null | undefined;
  minLength: string | null;
  maxLength: string | null;
  className: string;
  value: string | null;
}
const { name, label, required, minLength, maxLength, className, value } =
  Astro.props;
---

<label class="flex flex-col my-3 w-2/3">
  <span class="mb-2 font-bold text-lg">{label}</span>
  <textarea
    name={name}
    required={required}
    minlength={minLength}
    maxlength={maxLength}
    value={value ? value : ""}
    class={className
      ? className
      : " rounded-lg  bg-gray-300 bg-opacity-30 p-2 focus:bg-opacity-40 transition-all cursor-text text-lg h-44"}
  ></textarea>
</label>
